
<% include ./../Layouts/top.ejs%>

<style type="text/css">
    body {
        padding-top: 70px;
    }
    #customForm {
        padding-bottom: 260px;
    }
</style>

<!-- Fixed navbar -->
<% include ./../Layouts/navBarTop.ejs%>

<div class="container">
    <div class="row">
        <div id="customForm">
            <h3>
                Trabalho de Programação na Internet.
                Website implementado com o objectivo de explorar o desenvolvimento de
                aplicações web, em node.js, com a utilização de hmtl e javascript!
                Consiste em ser um forum, como por exemplo o twitter, em que o
                utilizador insere as suas queixas sobre o que se tem a queixar
                da vida e consequentemente irá ter os seus votos de outras
                pessoas, conforme a opinião. Envolvendo um titulo, descrição
                categoria, o utilizador consegue ainda geo-referenciar esta queixa.
            </h3>
            <hr>
            <h4>
                Para fazer uso de todas as funcionalidades do website, deverá de se autenticar.
                Ao clicar em 'Queixas Na Net', será apresentado um conjunto de queixas realizadas
                por outros utilizadores. Se você estiver autenticado, pode seguir essa queixa para
                poder ser informado de eventuais alterações. Pode votar ou até mesmo comentar.
                Quando autenticado, poderá criar as suas próprias queixas.

            </h4>
        </div>
    </div>
</div>


<% include ./../Layouts/bottom.ejs%>