
<% include ./../Layouts/top.ejs%>

<style type="text/css">
    body {
        padding-top: 70px;
    }
    #customForm {
        padding-bottom: 410px;
    }
</style>

<!-- Fixed navbar -->
<% include ./../Layouts/navBarTop.ejs%>

<div class="container">
    <div class="row">
        <div id="customForm">
            <h3>
                Email: pi.queixasnanet.g2@gmai.com
            </h3>
            <hr>
            <h4>
                Espaço Físico: Qualquer ombro, ouvido amigo.
            </h4>
        </div>



    </div>
</div>


<% include ./../Layouts/bottom.ejs%>